@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Rick and Morty API demo.</p>
    <p>Marc Samarra</p>
    <a href="mailto:msamarra@gmail.com">msamarra@gmail.com</a>
    
</main>