@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   
    <div class="col-md-10">
        <img src="~/Images/Rick_and_Morty.png" class="col-md-pull-1" width="90%" />
        <p class="lead">Test MVC + Entity Framework</p>
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Carga de datos</h2>
        <p>Importar los datos a la BBDD</p>
        <p><a class="btn btn-primary btn-lg" href="~/Episodes/Cargar">Cargar</a></p>

    </div>
    <div class="col-md-4">
        <h2>Episodios</h2>
        <p>Altas / bajas / modificaciones de episodios</p>
        <p><a class="btn btn-primary btn-lg" href="~/Episodes">Listado de episodios</a></p>
    </div>

    <div class="col-md-4">
        <h2>Borrar datos</h2>
        <p>Borrar episodios</p>
        <p><a class="btn btn-primary btn-lg" href="~/Episodes/Borrar">Borrar episodios</a></p>
    </div>

</div>

